div.product-addon {
	margin: 1em 0;
}
h3.addon-name {
	margin-top: 0;
}
div.addon-description p {
	margin-bottom: .5em;
	font-style: italic
}

dl.product-addon-totals {
	margin-bottom: 1em;
	overflow: hidden;
}
dl.product-addon-totals dt {
	width: 50%;
	float: left;
   clear: left;
}
.addon-alert{
	display: none;
	color: red;
}

div.product-addon {
   margin: 0 0;
}

div.product-addon p {
   margin: 0 0;
   margin-bottom: 7px;
}

div.product-addon h3.addon-name {
   padding: 0 !important;
}

h3.addon-name {
   margin: 0;
}

.ddtotal {
   font-size: 19px;
   color: rgb(45, 126, 230);
}

.dttotal {
   font-size: 19px;
}

.buttons_added {
   max-width: 50%;
   float: left;
}

